<!-- Options to admin -->
  <div class="menu d-flex mt-3">
    <button class="btn-nodecoration" id="show-btn" data-action="click->show-users#show">
      <h2>Todos os profissionais</h2>
    </button>

    <button class="btn-nodecoration" id="new-btn" data-action="click->show-users#new">
      <h2>Adicionar profissional</h2>
    </button>
  </div>

<div class="form my-5">
  <%= simple_form_for(@doctor) do |f| %>
    <div class="form-inputs scroll-form">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%= f.input :first_name, label: 'Nome do(a) veterinário(a)' %>
      <%= f.input :last_name, label: 'Sobrenome do(a) veterinário(a)' %>
      <%= f.input :photo, label: "Foto do Perfil", as: :file %>
      <%= f.input :description, label: 'Descrição do(a) veterinário(a)' %>
    </div>

    <div class="form-actions">
      <% if controller_name == 'doctors' && action_name == 'edit' %>
        <%= f.submit "Salvar", class: "btn-vet btn btn-dark rounded-4 mt-2" %>
        <%= link_to 'Voltar', user_profile_path, class: "btn-vet-outline btn btn-dark rounded-4 mt-2" %>
      <% else %>
        <%= f.submit "Adicionar e preencher especialidades", class: "btn btn-dark shadow-sm rounded-3" %>
      <% end %>

    </div>
  <% end %>
</div>
