  <% if user_signed_in? %>

  <div class="nav-admin d-flex justify-content-between">
    <%= link_to "/admin", class: "navbar-brand mb-3" do %>
      <%= image_tag "vetraas-logo-sm-nobg.png" %>
    <% end %>

    <%# <% if user_signed_in? %>
      <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %>
    <%# <% end %>
  </div>

  <% else %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-0 m-0">

      <div class="nav-info d-flex flex-column py-auto px-auto">
        <%= link_to "/", class: "navbar-brand my-2" do %>
          <%= image_tag "vetraas-logo-big-nobg-w" %>
        <% end %>

        <h1 class="title">Agende uma consulta com nossos especialistas</h1>
        <p class="body">VetRAAS - Centro de Especialidades Veterinárias</p>
      </div>
    </div>
  <% end %>
