<%# Form to add new doctor %>
<turbo-frame id="doctor_form">
  <div class="form my-5">
    <%= simple_form_for(@doctor) do |f| %>
      <div class="form-inputs scroll-form">

        <%= f.input :first_name, label: 'Nome do(a) veterinário(a)' %>
        <%= f.input :last_name, label: 'Sobrenome do(a) veterinário(a)' %>
        <%= f.input :photo, label: "Foto do Perfil", as: :file %>
        <%= f.input :description, label: 'Descrição do(a) veterinário(a)', input_html: { style: 'height: 100px;' } %>
      </div>

      <div class="form-actions">
        <% if controller_name == 'doctors' && action_name == 'edit' %>
          <%= f.submit "Salvar", class: "btn btn-dark shadow-sm rounded-3" %>
          <%= link_to 'Voltar', user_profile_path, class: "btn btn-dark shadow-sm rounded-3" %>
        <% else %>
          <%= f.submit "Adicionar e preencher especialidades", class: "btn-vet btn btn-dark rounded-4 mt-2" %>
        <% end %>
      </div>
    <% end %>
  </div>
</turbo-frame>
