  <header>
    <div class="home-title pt-4 mt-4">
      <h2 class="title">Bem-vindo!</h2>
      <p class="body">Agende sua consulta conosco, confira nossos <strong>profissionais</strong> e <strong>especialidades</strong></p>
    </div>
  </header>

  <main>
    <div class="div-cards pt-3">
      <% if @doctors %>
        <div>
          <% @doctors.each do |doctor| %>
            <div class="cards">
              <%# Doctor avatar %>
              <% if doctor.photo.attached? %>
                <%= cl_image_tag adoctor.photo.key, width: 240, height: 240, crop: :fill %>
              <% else %>
                <%= image_tag "vetraas-logo.jpg", width: 240, height: 240 %>
              <% end %>

              <%# Doctor header %>
              <h3><%= doctor.full_name %></h3>
              <p>Descrição: <%= doctor.description %></p>

              <%# Doctors specialties details %>
              <h4>Especialidades</h4>
              <p><%= doctor.specialties_join %></p>
              <% if doctor.specialties != [] && doctor.specialties.count > 1 %>
                <% doctor.specialties.each do |specialty| %>
                  <div class="border">
                    <p>Preço da consulta de <%= specialty.title %>: <%= specialty.formatted_value %></p>
                  </div>
                <% end %>
              <% elsif doctor.specialties != [] && doctor.specialties.count == 1 %>
                <div class="border">
                  <p>Preço da consulta: <%= doctor.specialties.first.formatted_value %></p>
                </div>
              <% end %>

              <%# Link to schedule appoitment %>
              <button class="btn btn-dark rounded-3 ms-3" onclick='Calendly.showPopupWidget("https://calendly.com/vetraas-especialidades/<%= doctor.link_name %>");return false;'>
                Agendar consulta
              </button>

            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </main>
